.A {
  h1 {
    color: black;
  }
  margin-top: 72px;
}

.content-area {
  margin-left: 0px;
  margin-right: 0px;
  background-color: aqua;
}
.side-bar {
  margin-left: 0px;
  margin-right: 0px;
  background-color: brown;
}
.side-bar-content{
  margin-left: 25px;
}