.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.controller {
  margin-top: 50px;
}
.follow-main {
  padding: 0px 0px 0px 0px;
  margin-top: 50px;
}
.follow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  li {
    padding: 0px 0px;
    margin: 3px 0px 0px 0px;
    border-radius: 8px;
    border: 0px;
    background-color: white;
  }

  color: white;
}

//NEWS
.hr6 {
  border: 1px solid #ff0505;
}
//TRENDING
.hr7 {
  border: 1px solid #843df7;
}
//LATEST
.hr8 {
  border: 1px solid #f7b102;
}
//SPOTIFY
.hr9 {
  border: 1px solid #1db954;
}
//FOLLOW US
.hr10 {
  border: 1px solid #eb00b0;
}

.test {
  display: flex;
  flex-direction: row;
}


@media (max-width: '780px') {
  .test {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }
  .spotify-frame {
    width: '300';
    border-radius: '8px';
  }
}
